/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

:-ms-input-placeholder {
  text-align: center;
}

body {
  margin: 0;
  font-family: "Space Mono", monospace, "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 23.7px;
  color: hsl(186, 14%, 43%);
}

p {
  font-weight: 700;
  font-size: 13px;
  line-height: 19.25px;
  color: hsl(184, 14%, 56%);
}

input {
  background: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  font-size: 24px;
  line-height: 35.54px;
  text-align: right;
  box-sizing: border-box;
  background-repeat: no-repeat;
  outline: none;
  border: 0;
}

@media (min-width: 375px) {
  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    width: 100%;
    height: 100vh;
  }

  .logo {
    position: relative;
    top: 50px;
    padding-bottom: 40px;
  }

  .content-container {
    position: relative;
    top: 40px;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: 83vh;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bill-portion {
    position: relative;
    top: 32px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: flex-start;
  }

  .bill {
    margin-bottom: 6px;
  }

  #bill-input {
    padding-left: 20px;
    border: 0;
    background-image: url(./images/icon-dollar.svg);
    outline: none;
    width: 311px;
    height: 48px;
  }

  #bill-input:focus {
    border: 2px solid hsl(172, 67%, 45%);
    border-radius: 5px;
  }

  #bill-input:hover {
    cursor: pointer;
  }

  #bill-input::placeholder,
  #people-input::placeholder {
    text-align: right;
  }

  .tip {
    margin-top: 32px;
  }

  .tip-button-container {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 311px;
    height: 176px;
  }

  .tip-button {
    width: 117px;
    height: 48px;
    background: hsl(183, 100%, 15%);
    color: #fff;
    outline: none;
    border: 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 35.54px;
  }

  .tip-button:hover {
    background-color: hsl(173, 61%, 77%);
    color: hsl(183, 100%, 15%);
    cursor: pointer;
  }

  .tip-button:focus {
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
  }

  #custom-input {
    width: 117px;
    height: 48px;
  }

  #custom-input:hover {
    cursor: pointer;
  }

  .people-container {
    margin-top: 32px;
  }

  .number-of-people {
    margin: 0 0 6px;
  }

  #people-input {
    background-image: url(./images/icon-person.svg);
  }

  #people-input:invalid {
    border: 2px solid #e17052;
  }

  .amounts-container {
    position: relative;
    top: 64px;
    background-color: #00474b;
    width: 327px;
    height: 257px;
    border-radius: 15px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
  }

  .tip-amount-container {
    position: relative;
    bottom: 60px;
    width: 281px;
    height: 48px;
    display: flex;
    justify-content: space-between;
  }

  .total-per-person {
    position: relative;
    top: 39px;
    left: 24px;
  }

  .total-h3 {
    color: hsl(0, 0%, 100%);
    margin: 20px 0 0;
    padding: 0px;
  }

  .per-person {
    margin-top: 0;
    margin-bottom: 23px;
  }

  .amount {
    position: relative;
    top: 25px;
    font-weight: 700;
    font-size: 32px;
    line-height: 47.39px;
    letter-spacing: -0.67px;
    text-align: right;
    color: hsl(172, 67%, 45%);
  }

  #reset-btn {
    position: relative;
    left: 23px;
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    width: 281px;
    height: 48px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29.62px;
    text-align: center;
    text-transform: uppercase;
  }

  #reset-btn:hover {
    background: hsl(173, 61%, 77%);
    cursor: pointer;
  }

  #reset-btn.disabled {
    background: hsl(183, 79%, 24%);
    color: #00474b;
  }
}

@media (min-width: 1440px) {
  .content-container {
    width: 920px;
    height: 481px;
    border-radius: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .bill-portion {
    position: absolute;
    top: 45px;
    left: 48px;
    align-content: flex-start;
  }

  .tip-button-container {
    width: 379px;
    right: 10px;
  }

  .people-container {
    margin-top: 0;
  }

  .amounts-container {
    margin-bottom: 125px;
    margin-right: 40px;
    width: 413px;
    height: 417px;
  }

  .amount {
    font-size: 48px;
    line-height: 71.09px;
    letter-spacing: -1px;
    position: relative;
    left: 40px;
    top: 0px;
  }

  #reset-btn {
    position: relative;
    left: 40px;
    width: 333px;
  }
}
